/* ===== Variables ===== */
$primary: #0054a8;
$bg: #f9fafb;
$text: #111;
$border: #d1d5db;
$error: #dc2626;
$success: #16a34a;
$radius: 12px;

.volunteer-wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Form ===== */
.volunteer-form {
  width: 100%;
  max-width: 1200px;
  border-radius: $radius;
  font-family: var(--ubuntu);

  h2 {
    margin-bottom: 1rem;
    color: var(--primary-color)
  }

  .error {
    color: $error;
    margin-bottom: 0.5rem;
  }

  .success {
    color: $success;
    margin-bottom: 0.5rem;
  }

  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .column {
      display: flex;
      min-width: 300px;
      flex-direction: column;
      gap: 0.8rem;

      input,
      select,
      textarea {
        padding: 0.7rem;
        border: 1px solid $border;
        border-radius: 6px;
        font-size: 0.95rem;
      }

      textarea {
        min-height: 90px;
      }

      .checkbox {
        display: flex;
        gap: 0.5rem;
        font-size: 0.9rem;
        align-items: center;
      }

      
    }
    .volunteerform-btn{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
        margin-top: 0.8rem;
        background: $primary;
        width: 50%;
        color: white;
        border: none;
        padding: 0.7rem;
        border-radius: 6px;
        cursor: pointer;

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
  }

  /* Mobile */
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
  }
}
