@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --nav:#000000ff;
  --primary-color: #f9fafb;
  --secondary-color: rgb(249, 115, 22);
  --background-color: #000000ff;
  --black-to-white:#1e2128b3;
  --blue-color: #2563eb;
  --text-color: #333333;
  --gray-bg: #1e2128b3;
   --action-bg:#1e2128b3;
 --hero-background-color: #0929408a; 
  --bright-blue: #2563eb;
  --dark-blue: #1e3a8a;
  --dark-text: #111827;
  --darker-gray: #4b5563;
  --footer-text-color: #e5e7eb;
  --footer-muted-color: #cbd5e1;
  --footer-icon-bg: rgba(255, 255, 255, 0.12);
  --light-dark-bg: #1e2128ff;
  --footer-bg: #0054a8ff;
  --ubuntu: "Ubuntu", sans-serif;
  --bulma-navbar-background-color:"";
  --blue-to-white:#2563eb;
  --mission-home-text:#d1d5db;

  --dark-to-white: #2c3b58b3;

  --faq-bg : #171A1F;
}

:root[data-theme="light"]             {

  --primary-color:#000000ff;
  --secondary-color: #f97316; 
  --bright-blue: #2563eb;
  --blue-color: #1e3a8a;
  --dark-blue: #1e3a8a;
 --action-bg:#FFFFFF;
  --background-color: #f9fafb;
  --light-dark-bg: #ffffff;
  --gray-bg: #FAFAFB; 
  --hero-background-color: #020c13a3; 
  --footer-bg: #0f172a;

  --text-color: #111827; 
  --dark-text: #d4daf3; 
  --darker-gray: #000; 
  --footer-text-color: #e5e7eb;
  --footer-muted-color: #94a3b8;

  --footer-icon-bg: rgba(255, 255, 255, 0.15);
  --ubuntu: "Ubuntu", sans-serif;
  --bulma-navbar-background-color:"";

  --black-to-white:#e5e7eb;

  --blue-to-white:#e5e7eb;
  --dark-to-white: #ecf0f3;
  --mission-home-text:#000000;

   --faq-bg : #F0F7FF;

   --nav:linear-gradient(108deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0.87) 26%, rgba(0, 0, 0, 0.73) 50%, rgba(0, 0, 0, 0.71) 73%, rgba(0, 0, 0, 0.6) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #000000;

  .homepage-component-wrapper {
    width: 100%;
    position: relative;
    padding: 70px 150px;

    @media (max-width: 1200px) {
      padding: 80px 50px;
    }

    @media (max-width: 768px) {
      padding: 65px 20px;
    }

    @media (max-width: 480px) {
      padding: 45px 10px;
    }
  }
}

.smallHeader__subtitle {
  font-family: var(--ubuntu);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--secondary-color) !important;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.smallHeader__title {
  font-family: "Inter"; /* Body */
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

//involve section homepage
.action-card {
  background: var(--action-bg);
  border: 1px solid var(--gray-bg);
  border-radius: 12px;
  padding: 2.5rem 1.2rem;
  text-align: center;
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  a {
    text-decoration: none;
  }
  @media (max-width: 768px) {
    padding: 2rem 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 1rem 5px;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  }

  &__icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  p {
    line-height: 26px;
    margin-bottom: 1.5rem;
    font-family: "Inter"; /* Body */
    font-weight: 500;
    font-size: 16px;
  }

  &__link {
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: var(--blue-color);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
    transition: color 0.3s ease;

    span {
      transition: transform 0.3s ease;
    }

    &:hover {
      color: var(--secondary-color);

      span {
        transform: translateX(4px);
      }
    }
  }
}

.arrow{
  color: var(--primary-color);
}