@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --bg-main: #111827;
  --bg-card: #1F2937 ;
  --border-color: #111827;

  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
  --blue: #2563eb;
  --green: #16a34a;
  --orange: #ea580c;
  --purple: #9333ea;

  --text-primary: #ffffff;
  --text-muted: #94a3b8;

  --button: #f97316;
  --button-disabled: #9a3412;


    --text-color:#D1D5DB;
  --radius: 14px;
}




:root {
 

  --bg-primary: #1a1f2e;
  --bg-secondary: #2a3142;
  --bg-hover: #353d52;

  --text-primary: #ffffff;
  --text-secondary: #a8b2d1;
  --text-tertiary: #6b7789;

  --primary-color: #ff6b35;

  --status-pending-bg: #fbbf24;
  --status-pending-text: #78350f;

  --status-approved-bg: #22c55e;
  --status-approved-text: #14532d;

  --status-rejected-bg: #ef4444;
  --status-rejected-text: #7f1d1d;

  --success-color: #22c55e;
  --success-hover: #16a34a;

  --danger-color: #ef4444;
  --danger-hover: #dc2626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
}

h1, h2, h3 {
  font-family: "Ubuntu", sans-serif;
}

.App {
  margin: 0 auto;
  width: 82%;
  padding:0 10px;
  min-height: 100vh;
  border:1px solid red;


  @media (max-width: 1200px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 95%;
  }
  @media (max-width: 480px) {
    width: 100%;
    padding: 0 1rem;
  }


  .section-heading{
    padding: 20px 0;
    h2{
      font-size: 30px;
      margin: 0.5rem 0;
      font-family: "Inter", sans-serif;
    }
    p{
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      color: #9CA3AF;
      margin-bottom: 1.5rem;
    }
  }
}