
.action-cards {
  font-family: "Inter", sans-serif;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 130px, 1fr));
    gap: 2rem;
  }
}



@media (max-width: 1024px) {
  .action-cards__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .action-cards__container {
    grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
  }
}
