.form-card {
  background: var(--bg-card);
  padding: 2rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media (max-width: 600px) {
    padding: 1rem;
  }
  @media (max-width: 400px) {
    padding:1rem 0.6rem;
  }

  h3 {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    color: var(  --text-color);
  }

  input {
    background:var(--border-color);
    border: 1px solid var(--border-color);
    padding: 0.7rem;
    border-radius: 8px;
    color: white;
  }

  button {
    margin-top: 1rem;
    background: var(--button);
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;

    &:disabled {
      background: var(--button-disabled);
      cursor: not-allowed;
    }
  }
}


.icon-blue {
  color: dodgerblue;
}