.mission {
  color: var(--primary-color);
  font-family: "Inter", sans-serif;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 3rem;
  }

  &__tag {
    color: var(--secondary-color);
    font-size: 0.85rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 0.75rem;
    display: inline-block;
  }

  &__title {
    margin-bottom: 1rem;

    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    color: #d1d5db;
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
  }

  .stat {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--blue-color);

    svg {
      color: var(--secondary-color);
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--primary-color);
    }

    span {
      font-size: 0.8rem;
      color: #9ca3af;
    }
  }

  &__stats {
    display: flex;
    gap: 2.5rem;
    margin-top: 2.5rem;
  }

  &__image {
    background: var(--gray-bg);
    border-radius: 12px;
    padding: 1rem;
    position: relative;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: contain;
    }

    > div {
      position: absolute;
      bottom: 8%;
      left: 5%;
    }
  }
}

@media (max-width: 992px) {
  .mission {
    &__container {
      grid-template-columns: 1fr;
    }

    &__image {
      order: -1;
    }
  }
}

@media (max-width: 576px) {
  .mission {
    &__title {
      font-size: 2.1rem;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__stats {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.mission__image {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    transition: opacity 0.2s ease, filter 0.3s ease;
  }

  .thumb {
    position: absolute;
    inset: 0;
    filter: blur(6px);
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;

    &.hidden {
      opacity: 0;
    }
  }

  .full {
    opacity: 0;
    z-index: 2;
    position: relative;

    &.visible {
      opacity: 1;
    }
  }
}
