.campaigns {
  gap: 2rem;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.campaign-card {
  background: var(--primary-color);
  height: 415px;
  
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

  .image-wrapper {
    position: relative;
    height: 225px;
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }
    }

    .tag {
      position: absolute;
      top: 14px;
      left: 14px;
      background: var(--blue-color);
      color: #fff;
      padding: 15px 18px;
      border-radius: 999px;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }

  .content {
    border: solid 1px var(--border-color);
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      color: var(--dark-text);
      font-size: 20px;
      font-weight: 700;
    }

    .amounts {
      display: flex;
      justify-content: space-between;
      span {
        * {
          font-size: 14px;
        }
        &:nth-child(1) {
          color: var(--darker-gray);
          font-weight: 500;
        }
        &:nth-child(2) {
           color: var(--darker-gray);
          font-weight: 500;
        }
      }
    }

    .progress-bar {
      height: 8px;
      background: var(--secondary-color);
      border-radius: 999px;
      margin-top: 0.3rem;
    }

    .donate-btn {
      margin-top: auto;
      border: none;
      border-radius: 8px;
      background: var(--secondary-color);
      color: #fff;
      padding: 0.85rem;
      font-weight: 600;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      font-size: 14px;
      line-height: 20px;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }
}


