.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: var(--background-color);
}

.hero-slide {
  position: absolute;
  inset: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero-image.blur {
  background: linear-gradient(90deg, #222, #333);
  filter: blur(20px);
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: var(--hero-background-color);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 200;
  max-width: 650px;
  padding: 5rem;
  color: var(--primary-color);

  @media (max-width: 768px) {
    padding: 2.5rem;
    max-width: 100%;
  }
  @media (max-width: 480px) {
    padding: 1rem;
  }

  .hero-tag {
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    font-size: 0.8rem;
      color: var(--background-color);
    opacity: 0.9;
  }

  h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin: 1rem 0;
    color: var(--background-color);
  }

  p {
    max-width: 500px;
    line-height: 1.6;
    opacity: 0.95;
      color: whitesmoke
  }
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 1rem 1.5rem;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 480px) {
      padding: 0.7rem 1rem;
    }
  }

  .primary {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    &:hover {
      background: #000;
      color: #fff;
    }
  }

  .secondary {
    background: #000;
    font-family: "Inter", sans-serif;
    color: #fff;
    &:hover {
      background: var(--secondary-color);
      color: var(--primary-color);
    }
  }
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 988;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: #fff;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 50%;

  &.prev {
    left: 1rem;
  }

  &.next {
    right: 1rem;
  }

  @media (max-width: 500px) {
    top: 90%;
  }
}

.hero-slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image.blur {
  background: #111;
  filter: blur(20px);
  z-index: 1;
}
