@import '../../styles/variables';
@import '../../styles/mixins';

.faq-form {
  @include card;
  margin-bottom: $spacing-2xl;

  &__header {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    margin-bottom: $spacing-2xl;
  }

  &__icon {
    font-size: $font-size-xl;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $text-primary;
    margin: 0;
  }

  &__field {
    margin-bottom: $spacing-xl;
  }

  &__label {
    display: block;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    color: $text-primary;
    margin-bottom: $spacing-sm;
  }

  &__input,
  &__select,
  &__textarea {
    @include input-base;
  }

  &__select {
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%239ca3af' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right $spacing-lg center;
    padding-right: $spacing-3xl;
  }

  &__textarea {
    resize: vertical;
    min-height: 120px;
    font-family: inherit;
    line-height: 1.5;
  }

  &__counter {
    font-size: $font-size-xs;
    color: $text-muted;
    margin-top: $spacing-sm;
  }

  &__actions {
    display: flex;
    gap: $spacing-md;
    margin-top: $spacing-2xl;

    @include mobile {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }
}
